.banner {
  width: 25%;
  height: 100vh;
  min-height: 100%;
}

.left { 
    position: fixed;
    background: linear-gradient(270deg, pink, white);
    left: 0%;  
    border-right: 3px solid white;
}
  
.right {
    position: fixed;
    background: linear-gradient(90deg, pink, white);
    right: 0%;
    border-left: 3px solid white;
}