.heading {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(209, 99, 167);
}

.liner {
    border-bottom: 2px solid white; 
}

.links {
    margin-left: 10px;
    margin-top: 25px;
}

.links i {
    font-size: 20px;
    color: rgb(209, 99, 167);
    
}

.link {
    text-decoration: none;
}

.links .horoscope {
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-spacing: 10px;
    border-radius: 5px;
    background-color: white;
}

.links .horoscope:hover {
    color: rgb(134, 118, 206);
}

.links .code-link {
    color: rgb(209, 99, 167);
    font-size: 25px;
    margin-left: 10px;
}

.links .code-link:hover {
    color: rgb(134, 118, 206);
}

.heading .header-icon {
    color: white;
    margin-right: 10px;
}