.heading {
    font-size: 25px;
    color: rgb(206, 118, 133);
}

.liner {
    border-bottom: 2px solid white; 
}

.links {
    margin-left: 470px;
    font-size: 20px;
}

.fa-github {
    font-size: 25px;
}